@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fdf6e3;
    --foreground: #555555;

    --card: #ffffff;
    --card-foreground: #555555;

    --popover: #ffffff;
    --popover-foreground: #555555;

    --primary: #d9534f;
    --primary-foreground: #ffffff;

    --secondary: #5bc0de;
    --secondary-foreground: #333333;

    --muted: #fdf6e3;
    --muted-foreground: #555555;

    --accent: #5bc0de;
    --accent-foreground: #333333;

    --destructive: #d9534f;
    --destructive-foreground: #ffffff;

    --border: #dddddd;
    --input: #dddddd;
    --ring: #333333;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}
